.bg {
    /* The image used */
    background-image: url("../../../assets/image/bg7.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
}