<div class="slider  teal darken-4">
  <ul class="slides" style="margin-bottom:0px">
    <li>
      <img src="../../../assets/sliderimages/a.jpg" />
      <!-- random image -->
      <div class="caption right-align">
        <h1 class="black-text font2">Feed the Need!</h1>
        <h4 class="black-text font2 text-darken-4">
          Because you can make the difference.
        </h4>
      </div>
    </li>
    <li>
      <img src="../../../assets/sliderimages/e.jpg" />
      <!-- random image -->
      <div class="caption left-align">
        <h1 class="black-text font2 ">Share What You Can</h1>
        <h4 class="light black-text font2 text-darken-4">
          No more food wastage.
        </h4>
      </div>
    </li>
    <li>
      <img src="../../../assets/sliderimages/c.jpg" />
      <!-- random image -->
      <div class="caption center-align">
        <h1 class="black-text font2 ">Hungry No More</h1>
        <h4 class="black-text font2 text-darken-4">Share Food – Save Lives.</h4>
      </div>
    </li>
    <li>
      <img src="../../../assets/sliderimages/d.jpg" />
      <!-- random image -->
      <div class="caption right-align">
        <h1 class="black-text font2 ">
          No Justice When Half the World Is Hungry!
        </h1>
        <h4 class="light black-text font2 text-darken-4">
          Stop Hunger: Start Sharing!.
        </h4>
      </div>
    </li>
  </ul>
</div>
<about-body></about-body>
