<div class="card-panel light-green darken-2" style="margin-top: 0px;margin-bottom: 0px" >
    <nav class="transparent z-depth-0">
        <div class="nav-wrapper transparent">
            <a href="#" class="brand-logo" style="font-family: 'Caveat', cursive;">FeedTheNeed</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']"   >Home</a></li>
              <li  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/about']">About us</a></li>
              <li  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a *ngIf="!auth.isLogin()" [routerLink]="['/login']">Log-in</a></li>
              <li  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a *ngIf="auth.isLogin()"  [routerLink]="['/login']" (click)="auth.logout()">Log-out</a></li>
              <li  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a *ngIf="auth.isLogin()"  [routerLink]="['/usercontrolpanel']">Profile</a></li>
              <li  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a *ngIf="!auth.isLogin()" [routerLink]="['/register']">Register</a></li>
            </ul>
        </div>
    </nav>
    </div>
    <ul class="sidenav light-green darken-2" id="mobile-demo">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="white-text" [routerLink]="['/']">Home</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="white-text" [routerLink]="['/about']">About us</a></li>
        <!-- <li><a class="white-text" href="collapsible.html">Features</a></li> -->
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="white-text" [routerLink]="['/register']">Register</a></li>
    </ul>


<router-outlet></router-outlet>
<section class="section section-follow  light-green darken-2 white-text center">
        <div class="container center">
          <div class="row">
              
                <h4>Follow <a href="#" class="brand-logo" style="font-family: 'Caveat', cursive; color: white">FeedTheNeed</a></h4>
                <p>Follow us on social media </p>
                <!-- <div class="col s4"></div> -->
              <div class="col hide-on-small-only  m2 l4 "></div>
              <div class="col s3 m2 l1"><a href="htttps://facebook.com" target="_blank" class="white-text">
                <i class="fab fa-facebook fa-3x"></i>
              </a></div>
              <div class="col s3 m2 l1"><a href="htttps://twitter.com" target="_blank" class="white-text">
                <i class="fab fa-twitter fa-3x"></i>
              </a></div>
              <div class="col s3 m2 l1"><a href="htttps://linkedin.com" target="_blank" class="white-text">
                <i class="fab fa-linkedin fa-3x"></i>
              </a></div>
              <div class="col s3 m2 l1">
                <a href="htttps://googleplus.com" target="_blank" class="white-text">
                  <i class="fab fa-google-plus fa-3x"></i>
                </a></div>
            
          </div>
        </div>
      </section>
    
      
<footer class="page-footer light-green darken-4">
        <div class="footer-copyright">
          <div class="container">
          © 2014 Copyright FeedTheNeed
          <a class="grey-text text-lighten-4 right" href="#!">Excess Food ? Call us 90877 9**7</a>
          </div>
        </div>
      </footer>
 