<!--About us-->

<div class="bg">
  <br />
  <br />
  <div class="container ">
    <!--<h4 class="center-align black-text">About Us</h4>-->
    <div
      Style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"
      class="container black-text"
    >
      In modern day world, between 33-50% of all food produced globally is never
      eaten, and the statistics show that value of this wasted food is worth
      over $1 trillion. In India this problem has its own face. According to the
      United Nations Development Programme, up to 40% of the food produced in
      India is wasted, which means Indians waste as much food as the whole of
      United Kingdom consumes.

      <br /><br />
      All this mess is mainly due to our lack of ability to manage the leftover
      food. There are many instances where if we have extra food because of any
      events or party it is simply dumped. Even if we want to give it to any
      orphanage or poor people many a times we don’t have time or don’t have an
      idea about that.

      <br /><br />
      <h4>What is Feed The Need?</h4>
      <br />
      The project FEED THE NEED, a food redistribution system is an online
      solution for food-sharing, aims to reduce food wastage. The main problem
      of existing system is in restaurants, in any functions or in any house if
      there is any surplus food it ends up with garbage because instantly there
      is no way to share that food with anyone. So this project include the
      development of a web application software which helps us to sponsor that
      extra food to poor people or nearby orphanage. It does this by connecting
      those with surplus food to those who need or wish to consume such food.

      <br /><br />
      Here, at FEED THE NEED, we believe that our small actions can lead to big
      changes.
    </div>
  </div>
  <br /><br /><br />
  <!--crads for vision and mission
<div class="container">
    <div class="row">
        <div class="col s24 m12">
          <div class="card white lighten-4">
            <div class="card-content black-text">
                <div class="row">
                    <div class="col s12 m6">
              <h6 class="card-title font center-align">Our Vision</h6><br>
              <p class="font">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
              </div>
              
                  <div class="col s12 m6">
                    <br>
                  <img src="vv.jpg" height="200" width="300">
                  
</div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
</div>-->
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <br /><br />
        <h4 class="card-title font black-text center-align">Our Vision</h4>
        <p class="font black-text">
          FEED THE NEED is simply to feed people and to reduce the wastage of
          surplus food.
        </p>
      </div>

      <div class="col s12 m6">
        <br />
        <img
          src="../../../assets/sliderimages/vv.jpg"
          height="200"
          width="300"
        />
      </div>
    </div>
  </div>

  <br /><br /><br />
  <!--
<div class="container">
  <div class="row">
      <div class="col s24 m12">
        <div class="card white lighten-4">
          <div class="card-content black-text">
              <div class="row">
                  <div class="col s12 m6">
                      <br>
                      <img src="aa.jpg" height="200" width="300">
           
            </div>
            
                <div class="col s12 m6">
                    <h6  class="card-title font center-align">Our Mission</h6><br>
                    <p class="font">I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                
</div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
</div>-->
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <br />
        <img
          src="../../../assets/sliderimages/aa.jpg"
          height="200"
          width="300"
        />
      </div>

      <div class="col s12 m6">
        <br /><br />
        <h4 class="card-title font black-text center-align">Our Mission</h4>
        <p class="font black-text">
          Create a world where no person goes to bed hungry or suffers the heat
          of the day in thirst. .
        </p>
      </div>
    </div>
  </div>

  <br /><br /><br />
</div>
