<app-counter></app-counter>
 <!-- Section: Popular -->
 <section id="popular" class="section section-popular light-green darken-2 scrollspy">
    <div class="container">
      <div class="row">
        <h4 class="center">
          <span class="light-green-text text-darken-4">FTN</span> <span class="white-text"> Process</span> </h4>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="../../../assets/image/img5.jpeg" alt="">
              <span class="card-title">Pick up</span>
            </div>
            <div class="card-content light-green lighten-4">
              <p> If you have surplus food then send your food quantity and your  location detail to us. We will pick up your food. 
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="../../../assets/image/img7.jpeg" alt="">
              <span class="card-title">Service operators</span>
            </div>
            <div class="card-content light-green lighten-4">
              <p> Service operators are the one who will redistribute your surplus food to those who need or wish to consume such food.
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="../../../assets/image/img1.jpeg" alt="">
              <span class="card-title">Redistribution</span>
            </div>
            <div class="card-content light-green lighten-4">
              <p>Your food will be sponsored to poor people or nearby orphange. After successfull distribution you will get an notification from the admin. 
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
          <a href="#contact" class="btn btn-large grey darken-3  ">
            <i class="material-icons left">send</i> Send Request
          </a>
        </div>
      </div>
    </div>
  </section>



<div class="parallax-container">
    <div class="parallax"><img src="../../../assets/image/pic3.jpg"></div>
</div>
