<section id="popular" class="section section-popular light-green darken-4 scrollspy">
    <div class="container">
        <div class="row"> 
            <!-- Section : pickup -->
            <div class="col s12 m6 l3  center">
                <div class="card-pane  light-green lighten-4 hoverable">  
                    <i class="  medium material-icons light-green-text text-darken-4">
                        local_shipping
                    </i><br>   
                    <span 
                        id="counter"
                        class="flow-text teal-text text-darken-4" 
                        style="font-size:90px">
                    </span>
                    <span 
                    class="flow-text teal-text text-darken-4" 
                    style="font-size: 60px">+
                    </span> <br>
                    <span 
                        class="light-green-text text-darken-4"
                        style="font-size: larger;font-family: 'Poppins', sans-serif;">
                        Pick <br> Up%
                    </span>    
               </div>
            </div>
            <!-- section : fed -->
            <div class="col s12 m6 l3  center">
                <div class="card-pane  light-green lighten-4 hoverable"> 
                    <i 
                     class="medium material-icons light-green-text text-darken-4">
                     restaurant
                    </i> <br>   
                    <span 
                      id="counter3" 
                      class="flow-text teal-text text-darken-4"  
                      style="font-size:90px">
                    </span>
                    <span 
                    class="flow-text teal-text text-darken-4" 
                    style="font-size: 60px">+
                    </span><br>
                    <span 
                    class="green-text text-darken-4" 
                    style="font-size: larger;font-family: 'Poppins', sans-serif;">
                    Peoples <br>Fed
                   </span>    
                </div>
            </div>
            <!-- section : revenue -->
            <div class="col s12 m6 l3  center">
                    <div 
                      class="card-pane  light-green lighten-4 hoverable"> 
                    <i 
                      class="medium material-icons light-green-text text-darken-4">
                    attach_money</i> <br>   
                    <span  
                      class="flow-text teal-text text-darken-4"  
                      style="font-size:90px">
                      3.86
                    </span><br>
                    <span 
                      class="light-green-text text-darken-4" 
                      style="font-size: larger;font-family: 'Poppins', sans-serif;">
                      Revenue  <br> Saved
                    </span>    
                    </div>
            </div>
            <!-- section : food saved -->
            <div class="col s12 m6 l3  center">
                <div 
                    class="card-pane  light-green lighten-4 hoverable"> 
                <i 
                    class="medium material-icons light-green-text text-darken-4">
                    storage</i> <br>   
                <span 
                    id="counter1" 
                    class="flow-text teal-text text-darken-4"  
                    style="font-size:90px">
                </span> <br>
                <span 
                class="light-green-text text-darken-4" 
                style="font-size: larger;font-family: 'Poppins', sans-serif;"> 
                Food <br>Saved(Tons)
                </span>    
            </div>
            </div>
        </div>
    </div>
   
</section>