
/*======================
    404 page
=======================*/

@import url('https://fonts.googleapis.com/css?family=Caveat|Indie+Flower|Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat|Indie+Flower|Kalam:400,700|Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat|Kalam&display=swap');
.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{ 
    background-image: url(../../../assets/gifs/404.gif);
    height: 400px;
    background-position: center;
    
 }
 .text-center{
     margin-left: 300px; 
      
 } 
 
 .four_zero_four_bg h1{
 font-size:7em;
 margin-top: 0px
 }
 
  .four_zero_four_bg h3{
             font-size:80px; 
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 10px 0;
    display: inline-block;}
    .contant_box_404{ margin-top:-50px;}
    
h3{
    font-family: 'Indie Flower', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Caveat', cursive;
font-family: 'Kalam', cursive;
}