
<div class="slider">
    <ul class="slides">
      <li>
        <img src="../../../assets/image/pic1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="light-green-text text-darken-4">JUST EAT IT.</h3>
          <h5 class="light light-green-text text-darken-4" style="color: black">You waste life when you waste good food.</h5>
        </div>
      </li>
      <li>
        <img src="../../../assets/image/pic2.jpg"> <!-- random image -->
        <div class="caption left-align  ">
          <h3 class="light-green-text text-darken-4">Left Aligned Caption</h3>
          <h5 class="light light-green-text text-darken-4">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="../../../assets/image/pic4.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3 class="light-green-text text-darken-4" >Right Aligned Caption</h3>
          <h5 class="light light-green-text text-darken-4">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="../../../assets/image/pic2.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="light-green-text text-darken-4">This is our big Tagline!</h3>
          <h5 class="light light-green-text text-darken-4">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>