<section id="popular" class="section section-popular white scrollspy">
    <div class="container">
        <div class="card-panel z-depth-0"> 
            <div class="four_zero_four_bg">
                <h1 class="center">404</h1> 
            </div>
            <h3 class="center" 
                style="margin-top:0px;
                        font-family: 'Indie Flower', cursive;
                        font-family: 'Satisfy', cursive;
                        font-family: 'Caveat', cursive;
                        font-family: 'Kalam', cursive;">
                Look like you're lost
            </h3>
            <p style="font-family: 'Indie Flower', cursive;
                        font-family: 'Satisfy', cursive;
                        font-family: 'Caveat', cursive;
                        font-family: 'Kalam', cursive;"
                class="center">
                the page you are looking is not avaible!
            </p>
            <div class="center">
                <a class="waves-effect waves-light btn center-align"  [routerLink]="['/']">
                <i class="material-icons left">chevron_left</i>
                Go to Home
                </a>
            </div>
        </div>
    </div>
</section>